{% extends "govuk-prototype-kit/layouts/unbranded.html" %}
{% from "internal-service-header/macro.njk" import dwpHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "internal-service-footer/macro.njk" import dwpFooter %}

{% block stylesheets %}
  {{ super() }}
  <link href="/public/css/custom.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block header %}

{{
    dwpHeader({
    serviceName: serviceName,
    serviceHref: "/index.html",
    action: "Sign out",
    actionHref: "#",
    container: true
})
}}

<div class="govuk-width-container">
    {{ govukPhaseBanner({
    tag: {
    text: "Beta"
    },
    html: 'This is a new service - your <a class="govuk-link" href="#">feedback (opens in new
        tab)</a> will help us improve it.'
    }) }}

    {{ govukBackLink({
    text: "Back",
    href: "javascript:history.back()"
    }) }}

    <!--
    onPress
    notifySuccess !== visible
    -->
</div>

{% endblock %}

{% block footer %}

{{
    dwpFooter({
    meta: {
    visuallyHiddenTitle: "About this website",
    items: [

    {
    href: "accessibility-statement",
    text: "Accessibility statement"
    },
    {
    href: "",
    text: "Privacy"
    },
     {
         href: "/manage-prototype/clear-data",
         text: "Clear data"
       }
    ]
    }
})
}}

{% endblock %}